.page {
  display: grid;
  grid-template-rows: 5.75rem minmax(calc(100vh - 3rem),auto);
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
}

.top-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2.5rem 2.5rem;
  row-gap: 1rem;
  padding-left: 1.5rem;

  &__main-navigation {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding-top: 1rem;

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 1rem;
      align-items: baseline;

      li {
        display: inline-block;

        a {
          display: inline-block;
        }
      }
    }
  }

  &__actions {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    gap: 1rem;
  }
}

.task-view {
  grid-column: 2 / 3;

  &__input,
  &__textarea,
  &__select {
    display: flex;
    flex-direction: column;
  }
}