.page-printable {
  display: grid;
  grid-template-columns: 1fr 20rem auto 1fr;
  gap: 1rem;

  .top-bar {
    grid-column: 1 / 5;
  }

  .configuration {
    grid-column: 2 / 3;
  }

  svg {
    grid-column: 3 / 4;
    border: 1px solid black;
  }
}