:root {
  --primary: #3dceff; // 24CAFF
  --primary-color: #000;
  --primary-light: #fff;
  --secondary: #dfdfdf;
  --warning: #FFAB5E;
  --error: #CE0000;
  --button-outline: #793A00; // To be renamed

  --button-padding-vertical: .5rem;
  --button-padding-horizontal: 1.5rem;
}